.svg-preview {
  display: block;
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;

  &__svg {
    width: 100dvw;
    height: 100dvh;
    transform: scaleY(-1); // flip the output of svg visually
  }

  text {
    transform: scaleY(-1); // flip the output of svg visually
  }
}
