.file-input {
  position: absolute;
  top: 10px;
  left: 10px;

  &__button {
    background: #ddd;
    border: 1px solid #aaa;
    padding: 20px;
    line-height: 22px;
    font-size: 18px;
    height: auto;
    display: inline-block;
    cursor: pointer;
  }

  &__input {
    display: none;
  }
}
