.task-list {
  background: #dddddd;
  border: 1px solid #aaaaaa;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;

  &__entry {
    display: flex;
    flex-direction: row;
    gap:8px;
    align-items: center;
  }

  &__button {
    background: #cccccc;
    border: 1px solid #aaaaaa;
    padding: 8px;
    border-radius: 3px;

    &:disabled {
      opacity: 0.3;
      cursor: default;
    }

    &:not(:disabled):hover {
      background: #eeeeee;
    }
  }
}
