.task-list {
  position: absolute;
  top: 80px;
  left: 10px;
  background: #dddddd;
  border: 1px solid #aaaaaa;
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 8px;

  &__entry {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
}
